@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
header {
    margin: 50px 0 45px 0;
}
.logo {
    text-decoration: none;
    font-family: Myriad Pro, sans-serif;
    color: #4bcaff;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}
span {
    color: #000000;
}
a {
    text-decoration: none;
}
.first-menu {
    width: 1280px;
    height: 69px;
    background-color: #35444f;
}
.navbar {
    font-family: Myriad Pro, sans-serif;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 69px;
}
.first-letter {
    float: left;
    width: 329px;
    height: 69px;
    text-align: center;
    margin-left: 160px;
}
.first-letter:hover {
    background-color: #222f3a;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
.bord {
    float: left;
    width: 150px;
    height: 69px;
    text-align: center;
}
.bord:hover {
    background-color: #222f3a;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
.thirt-letter {
    float: left;
    width: 264px;
    height: 69px;
    text-align: center;
}
.thirt-letter:hover {
    background-color: #222f3a;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
.last-letter {
    float: left;
    width: 215px;
    height: 69px;
    text-align: center;
}
.last-letter:hover {
    background-color: #222f3a;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
.side {
    width: 344px;
    height: 400px;
    border: 1px black solid;
    float: left;
    margin: 50px 0 0 0;
}
.sidebar {
    font-family: Myriad Pro, sans-serif;
    color:  #485863;
    font-size: 27px;
    font-weight: 400;
    line-height: 80px;
    text-align: left;
    padding: 0 44px;
}
.different {
    width: 343px;
    height: 80px;
}
.different:hover {
    background-color: #dcdcdc;
}
.different:hover .sidebar {
    font-family: 'Myriad Pro', sans-serif;
    color:  #000000;
    text-align: left;
    transform: scaleY(1.0003);
    padding-left: 69px;
}
.central {
    border: 1px black solid;
    width: 885px;
    height: 530px;
    float: right;
    margin: 50px 0 0 0;
}
.central::after {
    content: "";
    display: table;
    clear: both;
}
.images {
    width: 320px;
    height: 381px;
    margin: 75px 280px;
    transition: 1s;
}
.central:hover .images {
    transform: scale(1.2);
}
.text {
    float: right;
    margin: 50px 30px 0 30px;
    width: 815px;
    text-align: left;
}
.text-center {
    font-family: 'Myriad Pro', sans-serif;
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0 0 30px 0;
}
.end {
    display: inline-block;
    width: 1280px;
    height: 69px;
    background-color: #b5b8bb;
    margin: 20px 0 50px 0;
    padding-left: 29px;
}
.endbar {
    font-family: Myriad Pro, sans-serif;
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;
    line-height: 69px;
    text-align: right;
    margin: 0 15px;
}
.linedown {
    float: left;
}
.linedown:hover {
    text-decoration: underline;
}
.linedown:hover .endbar {
    color:  #3181a6;
}
.copyrated {
    font-family: 'Myriad Pro', sans-serif;
    color:  #010000;
    font-size: 24px;
    font-weight: 400;
    line-height: 69px;
    text-align: right;
    margin-right: 34px;
}

